*

!.github/
!.github/**/
!assets/
!assets/**/
!.editorconfig
!.gitattributes
!.gitignore
!.gitmodules
!.justfile
!CMakeLists.txt
!.clang-format
!.cmake-format.py
!.python-version
!example.env
!LICENSE
!README.md

!scripts/
!scripts/**/
!shared/
!shared/**/
!models/
!models/**/
!src/
!src/**/
!tests/
!tests/**/

# ROS2 package resource folders
!**/resource/
!**/resource/**

!*.md
!*.mdc
!*.svg
!*.png
!*.nix
!*.lock
!*.toml
!*.yaml
!*.yml
!*.sh
!*.ini
!*.xml
!*.obj
!*.cfg
!*.py
!*.c
!*.h
!*.cc
!*.hh
!*.cxx
!*.hxx
!*.cpp
!*.hpp
!*.cu
!*.cuh
